.home-user {
  width: 100%;

  h1 {
    text-align: center;
    margin-top: 20px;
  }

  .list-manage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      width: 20%;
      margin: 5%;
      &:hover {
        background-color: transparent;
      }
      .customer,
      .employee {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        border-radius: 20px;
        span {
          font-size: 1.5rem;
          font-weight: 600;
        }
        i {
          font-size: 40px;
        }
      }
      .customer {
        background-color: rgb(230, 145, 84);
        color: #fff;
      }
      .employee {
        background-color: darkcyan;
        color: black;
      }
    }
  }
}

.list-customer {
  width: 100%;
  h1 {
    text-align: center;
    color: cadetblue;
    font-weight: 700;
  }
  .create-employee{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
      font-size: 50px;
      color: crimson;
      cursor: pointer;
    }
  }
  .customer,
  .title-customer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    span {
      width: 5%;
      i {
        color: red;
        font-size: 1.5rem;
        cursor: pointer;
        &:hover {
          color: #18e341;
        }
      }
    }
    span.medium {
      width: 20%;
      i {
        color: red;
        font-size: 1.5rem;
        cursor: pointer;
        &:hover {
          color: #18e341;
        }
      }
    }
    span.big {
      width: 20%;
      i {
        color: red;
        font-size: 1.5rem;
        cursor: pointer;
        &:hover {
          color: #18e341;
        }
      }
    }
  }
  .title-customer {
    margin-top: 20px;
    color: #18e341;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .customer {
    color: rgb(61, 78, 78);
    height: 100px;
    font-size: 1rem;
    border-bottom: 1px solid rgb(219, 219, 215);
    padding-bottom: 10px;
    &:hover {
      background-color: yellow;
      color: rgb(224, 26, 26);
    }
  }
  .role-action {
    width: 100%;
    .title {
      width: 100%;
      display: flex;
      margin-bottom: 20px;
      font-weight: 700;
      justify-content: center;
      align-items: center;
      color: brown;
      span {
        text-align: center;
        &:first-child {
          width: 30%;
        }
        &:last-child {
          width: 70%;
        }
      }
    }
    .value-role-action {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .role {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 1px solid rgb(187, 182, 182);
        i {
          padding-top: 20px;
          font-size: 50px;
          color: darkcyan;
          cursor: pointer;
        }
        h2 {
          background-color: chartreuse;
          margin-bottom: 20px;
          padding: 10px;
          border-radius: 5px;
          width: 300px;
          text-align: center;
          position: relative;
          cursor: pointer;
          i {
            position: absolute;
            top: -10px;
            right: 10px;
            color: rgb(12, 82, 104);
            cursor: pointer;
            font-size: 1.5rem;
          }
        }
      }
      .action {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        margin-left: 30px;
        span {
          width: 20%;
          padding: 10px;
          background-color: #18e341;
          margin: 0 10px 20px 10px;
          border-radius: 5px;
          color: antiquewhite;
          font-weight: 700;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          i {
            position: absolute;
            top: 5px;
            right: 5px;
            color: rgb(255, 30, 0);
            cursor: pointer;
            font-size: 1.2rem;
          }
          &:hover {
            background-color: rgb(16, 112, 112);
          }
          &:last-child {
            background-color: transparent;
            padding: 0;
            i {
              position: relative;
              font-size: 45px;
              color: #18e341;
            }
          }
        }
      }
    }
  }
}
