.list-hotel {
  width: 100%;
  .list-item {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .item-hotel {
      display: flex;
      margin-bottom: 20px;
      border-bottom: 1px solid rgb(143, 250, 143);
      padding-bottom: 10px;
      &:last-child {
        border-bottom: none;
      }
      img {
        width: 300px;
        height: 200px;
      }
      .info-hotel {
        margin-left: 20px;
        width: 70%;
        display: flex;
        flex-direction: column;
        h2 {
          color: crimson;
        }
        span {
          font-size: 1.2rem;
          margin-bottom: 10px;
          i {
            margin-right: 10px;
            color: rgb(16, 212, 16);
          }
        }
      }
      .action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        i {
          font-size: 40px;
          margin: 20px;
          color: green;
          cursor: pointer;
          &.fa-trash-alt {
            color: red;
          }
        }
        a:hover {
          background-color: transparent;
        }
      }
    }
  }
  .create-hotel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    a {
      &:hover {
        background-color: transparent;
      }
      i {
        font-size: 50px;
      }
    }
  }
}
