.create-update {
  width: 100%;
  .action {
    display: flex;
    align-items: center;
    justify-content: right;
    button {
      margin-left: 20px;
      background-color: yellow;
      border: 1px solid brown;
      padding: 10px 15px;
      cursor: pointer;
      border-radius: 5px;
    }
  }
  h1 {
    color: darkcyan;
    margin-bottom: 20px;
  }
  label {
    display: block;
    width: 100%;
    color: brown;
    font-weight: 600;
  }
  .title {
    input {
      width: 100%;
      padding: 20px 10px;
      font-size: 1.2rem;
      margin-top: 10px;
      border: 1px solid green;
      border-radius: 10px;
      &:focus{
        outline: none;
      }
    }
    padding-bottom: 50px;
  }
  .info-tour {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    .img {
      width: 60%;
      margin-right: 30px;
      max-height: 400px;
      position: relative;
      img {
        display: block;
        width: 100%;
        max-height: 300px;
      }
      input {
        margin-left: 10px;
      }
    }
    .more-info {
      width: 50%;
      display: flex;
      .list-info{
        width: 100%;
        .item-info {
          width: 100%;
          display: flex;
          justify-content: center;
          justify-content: center;
          margin-bottom: 10px;
          label{
            width: 30%;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
          }
          input, .ant-select-auto-complete, .search {
            width: 70%;
          }
          .search{
            position: relative;
            input {
              width: 100%;
            }
            ul {
              position: absolute;
              width: 100%;
              z-index: 5;
              background-color: chartreuse;
              li {
                margin-bottom: 10px;
                color: crimson;
                font-weight: 600;
                padding: 5px 5px;
                padding-left: 20px;
                cursor: pointer;
                &:hover {
                  background-color: rgb(9, 196, 209);
                }
              }
            }
          }
        }
      }
    }
  }
}
div.update-tour
  div.create-update
  div.info-tour
  div.img
  span.ant-upload-picture-card-wrapper.avatar-uploader
  div.ant-upload.ant-upload-select.ant-upload-select-picture-card {
  width: 100%;
  position: relative;
  height: 100%;
  span.ant-upload img {
    width: 100%;
    // max-height: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
}
div.update-tour
  div.create-update
  div.info-tour
  div.img
  span.ant-upload-picture-card-wrapper.avatar-uploader {
  height: 300px;
}
html body div#root div.App div.App div.body div.create-tour div.create-update div.info-tour div.img span.ant-upload-picture-card-wrapper.avatar-uploader div.ant-upload.ant-upload-select.ant-upload-select-picture-card{
  width: 100%;
  min-height: 300px;
  max-height: 600px;
}