.add-news {
  width: 100%;
  h1 {
    font-weight: 700;
    color: rgb(14, 136, 126);
    text-align: center;
    margin-bottom: 50px;
  }
  .title {
    width: 100%;
    margin-top: 30px;
    color: red;
    font-size: 1.5;
    input {
      border: 1px solid goldenrod;
      width: 100%;
      padding: 20px 15px;
      font-size: 1.5rem;
      border-radius: 5px;
      margin-bottom: 20px;
      font-weight: 700;
      color: rgb(12, 189, 12);
      &:focus {
        border: none;
      }
    }
  }
  .img {
    margin-bottom: 30px;
    color: red;
  }
  .location {
    width: 100%;
    margin-top: 30px;
    color: rgb(255, 8, 0);
    font-size: 1rem;
    input {
      border: 1px solid goldenrod;
      width: 100%;
      padding: 10px 5px;
      font-size: 1.5rem;
      border-radius: 5px;
      margin-bottom: 20px;
      font-weight: 700;
      color: rgb(12, 189, 12);
      &:focus {
        border: none;
      }
    }
  }
  .detail-news {
    width: 100%;
    color: red;
    font-size: 1.3rem;
    .ck {
      color: black;
    }
  }
}

.list-news {
  .new-news {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .list-items {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    .news-items {
      display: flex;
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgb(211, 208, 208);
      img {
        width: 300px;
        height: 200px;
      }
      .info {
        margin-left: 20px;
        width: 70%;
        .title {
          font-size: 1.3rem;
          color: rgb(17, 184, 235);
        }
        p i {
          color: rgb(240, 100, 6);
          margin-right: 10px;
          font-size: 1.2rem;
        }
      }
      .action {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        i {
          font-size: 50px;
          margin-bottom: 50px;
          cursor: pointer;
          color: red;
        }
        a i {
          font-size: 50px;
          margin-bottom: 50px;
          cursor: pointer;
          color: green;
        }
        a:hover {
          background-color: transparent;
        }
      }
    }
  }
}


html body div#root div.App div.App div.body div.add-news div.img span.ant-upload-picture-card-wrapper.avatar-uploader div.ant-upload.ant-upload-select.ant-upload-select-picture-card {
  width: 60%;
  display: block;
  margin: auto;
  min-height: 400px;
  max-height: 600px;
  span.ant-upload img {
    width: 100%;
    height: 100%;
  }
}
