.list-car {
  width: 100%;
  .header-car {
    width: 100%;
    display: flex;

    button {
      margin-right: 30px;
      cursor: pointer;
    }
    a:hover {
      background-color: transparent;
    }
  }
  .list-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    .car-tems {
      width: 100%;
      margin: auto;
      display: flex;
      padding-bottom: 20px;
      border-bottom: 1px solid rgb(184, 180, 180);
      margin-bottom: 20px;
      &:last-child {
        border-bottom: none;
      }
      img {
        width: 250px;
        height: 200px;
      }
      .info-car {
        width: 70%;
        margin-left: 20px;
        padding: 0;
        h2 {
          color: rgb(6, 160, 180);
          font-size: 1.4rem;
          font-weight: 700;
        }
        p {
          font-size: 1rem;
          i {
            margin-right: 20px;
            color: chocolate;
          }
        }
      }
      .action {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        i {
          font-size: 40px;
          margin: 20px;
          color: red;
          cursor: pointer;
        }
        a i {
          color: green;
        }
        a:hover {
          background-color: transparent;
        }
      }
    }
  }
  .filter-car {
    margin-top: 30px;
    span {
      margin-bottom: 10px;
      display: block;
    }
  }
}

.create-car {
  width: 100%;
  .title-hotel {
    color: red;
    input {
      display: block;
      width: 100%;
      font-size: 1.5rem;
      border: 1px solid yellow;
      padding: 15px 10px;
      color: darkcyan;
      border-radius: 5px;
    }
  }
  h1 {
    color: rgb(14, 155, 155);
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
  }
  .img-info-car {
    width: 100%;
    display: flex;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    .upload-img {
      width: 60%;
      span.ant-upload-picture-card-wrapper.avatar-uploader
        div.ant-upload.ant-upload-select.ant-upload-select-picture-card {
        width: 100%;
        height: 350px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .info-car {
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      div {
        margin-bottom: 10px;
      }
      textarea {
        resize: none;
        padding: 10px;
        font-size: 1.3rem;
        border: 1px solid green;
      }
    }
  }
}
